<div class="row">

  <div class="col-md-6">
    <p>Patient:</p>
    <app-patient-details [data]="diagnosis.patient"></app-patient-details>
  </div>

  <div class="col-md-6">
    <p>Physician:</p>
    <app-physician-details [data]="diagnosis.physician"></app-physician-details>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Diagnosis:</p>
    <table class="table table-hover table-sm table-striped">
      <tbody>
      <tr>
        <th>Date</th>
        <td>{{diagnosis.date}}</td>
      </tr>
      <tr>
        <th>Patient body temperature</th>
        <td>{{diagnosis.bodyTemperature}}</td>
      </tr>
      <tr>
        <th>Symptoms</th>
        <td>
          <button type="button" class="btn btn-info btn-sm" (click)="openSymptomsModal(diagnosisSymptomsModal, diagnosis)">Show</button>
        </td>
      </tr>
      <tr>
        <th>Diagnosed diseases</th>
        <td>
          <button type="button" class="btn btn-info btn-sm" (click)="openDiseasesModal(diagnosisDiseasesModal, diagnosis)">Show</button>
        </td>
      </tr>
      <tr>
        <th>Prescribed medications</th>
        <td>
          <button type="button" class="btn btn-info btn-sm" (click)="openMedicationsModal(diagnosisMedicationModal, diagnosis)">Show</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #diagnosisSymptomsModal>

  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Symptoms for: ' + diagnosis.patient.firstName + ' ' + diagnosis.patient.lastName}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-symptom-table [data]="diagnosis.symptoms" [show-update]="false" [show-delete]="false" [show-remove]="false" [show-add]="false"></app-symptom-table>
  </div>

</ng-template>


<ng-template #diagnosisDiseasesModal>

  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Diagnosed diseases for: ' + diagnosis.patient.firstName + ' ' + diagnosis.patient.lastName}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-disease-table [data]="diagnosis.diseases" [show-update]="false" [show-delete]="false"></app-disease-table>
  </div>

</ng-template>


<ng-template #diagnosisMedicationModal>

  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Prescribed medications for: ' + diagnosis.patient.firstName + ' ' + diagnosis.patient.lastName}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-medication-table [data]="diagnosis.prescribedMedications" [show-update]="false" [show-delete]="false" [show-add]="false" [show-remove]="false"></app-medication-table>
  </div>

</ng-template>
